@font-face {
  font-family: "JetBrains Mono";
  font-weight: normal;
  src: url("./font/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: bold;
  src: url("./font/JetBrainsMono-Bold.woff2") format("woff2");
}


* {
  font-family: "JetBrains Mono", "阿里巴巴普惠体 3.0";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}